/** las class se llaman con un "." **/
/** con # llamamos a los ID y es unico e irrepetible **/
/* el "*" es el selector universal*/
/* mis fuentes font-family: 'League Gothic', sans-serif;
font-family: 'Roboto', sans-serif; */
/* para poner una imagen de fondo
llamar etiqueta background-image: url()*/

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #171717;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr;
}
.imagenFondo{
    background-image: url(../images/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
    background-attachment: fixed;
}
.imagenFondo2{
    background-image: url(../images/imagenFondo2.png);
    background-repeat: no-repeat;
    background-position: right;
}
header{
    background-color:#222831;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    list-style: none;
    color: white;
}
li{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-left: 130px;
    padding: 10px;
}
.barraN li a{
    text-decoration: none;
    color: white;
    justify-content: center;
}
h1{
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 65px;
    transition: transform 0.4s;
}
h1:hover{
    transform:scale(1.3);
}
.cuartoParrafo{
    margin: 10px;
    border: 0px;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.quintoParrafo{
    margin: 10px;
    border: 0px;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.sextoParrafo{
    margin: 10px;
    border: 0px;
    color:white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.septimoParrafo{
    margin: 10px;
    border: 0px;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.octavoParrafo{
    margin: 10px;
    border: 0px;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.novenoParrafo{
    margin: 10px;
    border: 0px;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.nuevosGrid{
    display: grid;
    margin: 40px 0 40px 0;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 1px 1px;
    text-align: center;
    justify-content: stretch;
    font-size: 1.5rem;
    grid-template-areas:
    "peli1 peli2 peli3"
    "peli4 peli5 peli6"
    "serie1 serie2 serie3"
    "serie4 serie5 serie6"
}
.peli1{
    grid-area: peli1;
}
.peli2{
    grid-area: peli2;
}
.peli3{
    grid-area: peli3;
}
.peli4{
    grid-area: peli4;
}
.peli5{
    grid-area: peli5;
}
.peli6{
    grid-area: peli6;
}
.peli1 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli2 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli3 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli4 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli5 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli6 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.serie1{
    grid-area: serie1;
}
.serie2{
    grid-area: serie2;
}
.serie3{
    grid-area: serie3;
}
.serie4{
    grid-area: serie4;
}
.serie5{
    grid-area: serie5;
}
.serie6{
    grid-area: serie6;
}
.serie1 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.serie2 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.serie3 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.serie4 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.serie5 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.serie6 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.parrafo10{
    margin: 10px;
    border: 0px;
    color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.parrafo11{
    margin: 10px;
    border: 0px;
    color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.parrafo12{
    margin: 10px;
    border: 0px;
    color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.parrafo13{
    margin: 10px;
    border: 0px;
    color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.parrafo14{
    margin: 10px;
    border: 0px;
    color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.parrafo15{
    margin: 10px;
    border: 0px;
    color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
h3{
    margin-top: 150px;
    padding: 5px;
    border: 0px;
    font-size: 20px;
    color: white;
    text-align: start;
}
footer{
    background-color: #2C3333;
    padding: 1em 0;
    text-align: center;
    display: contents;
}
.copy{
        color: white;
        padding: 10px;
        margin-right: 150px;
        margin-top: 40px;
        margin-left: 150px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.redesSociales a{
    color: white;
    height: 35px;
    width: 35px;
    align-items: center;
    float: left;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 6px;
    transition: transform 0.4s;
}
.redesSociales a:hover{
    transform:scale(1.3);
}
.redesSociales a.facebook{
    background-color: #3c70a4;
}
.redesSociales a.twitter{
    background-color: #5bd1d7;
}
.redesSociales a.instagram{
    background-color: #bb7171;
}
.nuevos{
    color: white;
    padding: 10px;
    margin: 40px 20px 40px 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0px;
    font-size: xxx-large;
}
.subTitulo{
    color: white;
    padding: 10px;
    margin: 40px 20px 40px 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0px;
    font-size: larger;
}
.iniciarSesion{
    width: 40%;
    height: 100vh;
    overflow: hidden;
    float: right;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.registro{
    width: 40%;
    height: 100%;
    overflow: hidden;
    float: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-group{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: center;
}
.nav-link{
    color: white;
}
.populares{
    margin-top: 30px;
    align-items: start;
    justify-content: start;
    text-align: center;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    transition: transform 0.3s;
}
h1:hover{
    transform:scale(0.95);
}
.popularesGrid{
    display: grid;
    margin: 40px 0 40px 0;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 1px 1px;
    text-align: center;
    justify-content: stretch;
    font-size: 1.5rem;
    grid-template-areas:
    "peli7 peli8 peli9 peli10 peli11"
    "peli12 peli13 peli14 peli15 peli16"
    "peli17 peli18 peli19 peli20 peli21"
    "peli22 peli23 peli24 peli25 peli26"
    "peli27 peli28 peli29 peli30 peli31"
}
.peli7{
    grid-area: peli7;
}
.peli8{
    grid-area: peli8;
}
.peli9{
    grid-area: peli9;
}
.peli10{
    grid-area: peli10;
}
.peli11{
    grid-area: peli11;
}
.peli12{
    grid-area: peli12;
}
.peli13{
    grid-area: peli13;
}
.peli14{
    grid-area: peli14;
}
.peli15{
    grid-area: peli15;
}
.peli16{
    grid-area: peli16;
}
.peli17{
    grid-area: peli17;
}
.peli18{
    grid-area: peli18;
}
.peli19{
    grid-area: peli19;
}
.peli20{
    grid-area: peli20;
}
.peli21{
    grid-area: peli21;
}
.peli22{
    grid-area: peli22;
}
.peli23{
    grid-area: peli23;
}
.peli24{
    grid-area: peli24;
}
.peli25{
    grid-area: peli25;
}
.peli26{
    grid-area: peli26;
}
.peli27{
    grid-area: peli27;
}
.peli28{
    grid-area: peli28;
}
.peli29{
    grid-area: peli29;
}
.peli30{
    grid-area: peli30;
}
.peli31{
    grid-area: peli31;
}
.peli7 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli8 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli9 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli10 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli11 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli12 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli13 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli14 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli15 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli16 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli17 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli18 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli19 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli20 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli21 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli22 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli23 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli24 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli25 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli26 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli27 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli28 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli29 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli30 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.peli31 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}